<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <title>Banco de occidente</title>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex">
  <a class="navbar-brand" href="#">
    <img src="\assets\logos\logo-banco-de-occidente-1.png" width="200" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <a class="nav-link dropdown-toggle row d-flex justify-content-center position-relative" href="#" id="navbarDropdown"
      role="button"
      data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <p class="m-0">
        <strong class="text-dark">Carlos Gomez</strong><br />
        <label class="text-muted">Gerente de relación</label>
      </p>
      <img src="\assets\logos\user.png" class="ml-2" height="40" alt="">
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Ajustes</a>
        <a class="dropdown-item" href="#">Cerrar Sesion</a>
      </div>
    </a>

    <br>
  </div>
</nav>


<body class="col-7 col-center pt-5">
  <i class="fas fa-arrow-left flecha "></i>
  <div class="row text-center">
    <h1 class="col-12 title h2">Flotas la macarena</h1>
    <label class="col-12 text-muted h5">Nit: 800220154</label>
    <strong class="col-12">Capa:Oro <i class="fas fa-circle circulo"></i> Segmento:A</strong>
  </div>
  <!-- tabs -->
  <section id="tabs">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-xs-12 ">
          <nav class="d-none d-md-block">
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                aria-controls="nav-home" aria-selected="true"><label>Operación</label></a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                aria-controls="nav-profile" aria-selected="false"><label>Indicadores</label></a>
              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                aria-controls="nav-contact" aria-selected="false"><label>Información Cliente</label></a>
            </div>
          </nav>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <p class="contenedor-text m-0" for="">Indique la línea de crédito que quiere reconsiderar</p>
              <div class="d-flex justify-content-center py-5">

                <div class="card mr-3">
                  <div class="card-bodyn flex-column d-flex justify-content-center align-items-center">
                    <img src="\assets\logos\cartera-ordinaria.png" height="70" alt="" class="">
                    <p class="text-dark">Cartera ordinaria</p>
                  </div>
                  <div class="card-footer text-center">
                    <p class="text-primary mb-2">Continuar</p>
                  </div>
                </div>
                <div class="card">
                  <div class="card-bodyn flex-column d-flex justify-content-center align-items-center">
                    <img src="\assets\logos\leasing.PNG" height="70" alt="" class="">
                    <p class="text-dark">Leasing</p>
                  </div>
                  <div class="card-footer text-center">
                    <p class="text-primary mb-2">Continuar</p>
                  </div>
                </div>
              </div>
              <div class="alert alert-warning" role="alert">
                <i class="fas fa-exclamation-circle"> | </i> Las demás lineas de credito no estarán disponibles por el
                momento
              </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
              <p class="contenedor-text" for=""></p>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
              <p class="contenedor-text" for=""></p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</body>
<footer>
  <img src="\assets\logos\Logo_bancosAval.png" width="100" alt="" class="float-right mr-5">
</footer>

</html>
